@use '../utils' as *;

/*----------------------------------------*/
/*  2.5 Carousel
/*----------------------------------------*/

// Common swiper dot
.pagination__wrapper {
	margin-top: 40px;

	&.case-studies-style {
		margin-top: 0;

		.bd-swiper-dot-1,
		.bd-swiper-dot-2,
		.bd-swiper-dot-3,
		.bd-swiper-dot-4,
		.bd-swiper-dot-5,
		.service-bd-swiper-dot {
			position: relative;
			left: 80px;
			z-index: 2;
			top: -18px;

			@media #{$md} {
				left: 32px;
			}

			@media #{$sm,$xs} {
				left: 0;
			}
		}
	}
}


.bd-swiper-dot-1,
.bd-swiper-dot-2,
.bd-swiper-dot-3,
.bd-swiper-dot-4,
.bd-swiper-dot-5,
.bd-swiper-dot-6,
.bd-swiper-dot-7,
.service-bd-swiper-dot {
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: transparent;
		border: 2px solid var(--bd-theme-primary);

		@include light {
			background-color: rgba(6, 6, 6, 0.20);
		}

		opacity: 1;
		border-radius: 30px;
		position: relative;
		margin: 0 8px !important;

		&.swiper-pagination-bullet-active {
			background-color: var(--bd-theme-primary);

			@include light {
				background-color: rgba(6, 6, 6, 1);
			}
		}
	}

	&.is-white {
		.swiper-pagination-bullet {
			background-color: rgba(255, 255, 255, 0.2);

			&.swiper-pagination-bullet-active {
				background-color: rgba(255, 255, 255, 1);
			}
		}
	}

	&.is-border {
		.swiper-pagination-bullet {
			background: var(--bd-theme-primary);
			border: none;

			&::after {
				position: absolute;
				content: "";
				left: 50%;
				top: 50%;
				width: calc(100% + 16px);
				height: calc(100% + 16px);
				background-color: transparent;
				border: 1px solid transparent;
				border-radius: 50%;
				transform: translate(-50%, -50%) scale(0);
			}
		}

		.swiper-pagination-bullet {
			&.swiper-pagination-bullet-active {
				&::after {
					border-color: var(--bd-border-secondary);
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}
	}
}

// Common swiper navigation
.common__navigation {
	button {
		width: 50px;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: var(--bd-common-white);
		font-size: 17px;
		border-radius: 50px;
		border: 1.5px solid var(--bd-bg-1);
		background: var(--bd-bg-1);

		&:hover {
			background-color: var(--bd-theme-primary);
			border-color: transparent;
			color: var(--bd-text-primary);

			@include light {
				color: var(--bd-common-white);
			}
		}
	}
}



// Feedback carousel
.feedback__inner {
	&:hover {
		.feedback__navigation {
			button {
				opacity: 1;
			}
		}
	}
}

.feedback__navigation {
	button {
		width: 60px;
		height: 60px;
		display: inline-flex;
		align-items: center;
		border: 1px solid var(--bd-border-primary);
		justify-content: center;
		@include border-radius(50%);
		color: var(--bd-text-primary);
		font-size: 20px;
		position: absolute;
		color: var(--bd-text-secondary);
		top: 42.5%;
		left: -30px;
		z-index: 55;
		background: var(--bd-common-white);
		opacity: 0;
		top: 50% !important;
		transform: translateY(-50%) !important;

		@include light {
			color: var(--bd-text-primary);
		}

		&:hover {
			background: var(--bd-theme-primary);
			border-color: transparent;
			color: var(--bd-common-white);
		}
	}
}

.feedback__button-next {
	left: auto !important;
	right: -30px;
}

// service carousel
.service__slide-wrapper {
	&:hover {
		.service__navigation {
			button {
				opacity: 1;
			}
		}
	}
}

.service__navigation {
	button {
		width: 50px;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: var(--bd-common-white);
		font-size: 17px;
		position: absolute;
		top: 44%;
		@extend %translateY1_2;
		left: -30px;
		z-index: 55;
		opacity: 0;
		border-radius: 50px;
		border: 1.5px solid var(--bd-bg-1);
		background: var(--bd-bg-1);

		&:hover {
			background-color: var(--bd-theme-primary);
			border-color: transparent;
			color: var(--bd-text-primary);

			@include light {
				color: var(--bd-common-white);
			}
		}
	}

	.service__button-next {
		left: auto !important;
		right: -30px;

	}
}


// case-studies carousel
// .case-studies__slide-wrapper {
// 	&:hover {
// 		.service__navigation {
// 			button {
// 				opacity: 1;
// 			}
// 		}
// 	}
// }
.case-studies__navigation {
	button {
		width: 50px;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: var(--bd-common-white);
		font-size: 17px;
		position: absolute;
		top: 50%;
		@extend %translateY1_2;
		left: -15px;
		z-index: 55;
		border-radius: 50px;
		border: 2px solid #16181A;
		background: #3B3D40;

		&:hover {
			background-color: var(--bd-theme-primary);
			color: var(--bd-text-primary);
		}
	}

	// &.style-two{
	// 	display: flex;
	// 	align-content: center;
	// 	gap: 15px;
	// 	button {
	// 	opacity: 1;
	// 	position: unset;
	// 	}
	// }
}

.case-studies__button-next {
	left: auto !important;
	right: -15px;
}

//update
.testimonial__item.style-four.bd-swiper-dot,
.bd-swiper-dot-6.swiper-pagination-bullet {
	width: 13px;
	height: 13px;
}

.testimonial__item.style-four .bd-swiper-dot,
.bd-swiper-dot-6.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: var(--bd-theme-primary);
}

.testimonial__item.style-four .bd-swiper-dot,
.bd-swiper-dot-6.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: transparent;
	border: 2px solid var(--bd-theme-primary);
	opacity: 1;
	border-radius: 30px;
	position: relative;
	margin: 0 8px !important;
}