@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 Buttons
/*----------------------------------------*/

.client-thumb {
	a {
		&:not(:first-child) {
			margin-left: -20px;
		}
	}
	img {
		max-width: 50px;
		border-radius: 50%;
		border: 2px solid #3D2954;
	}
	.arrow {
		width: 50px;
		height: 50px;
		background-color: #27292B;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
}
.bd-avatars {
	img {
		border-radius: 100%;
		padding: 5px;
		border: 2px solid var(--bd-border-primary);
		width: 100%;
	}
}
.bd-avatars {
	max-width: 80px;
	&.size-lg {
		max-width: 110px;
	}
	&.size-sm {
		max-width: 60px;
	}
}