@use '../../utils' as *;

/*----------------------------------------*/
/*  6.2 Footer Style 02
/*----------------------------------------*/


// Footer Style 02
.footer{
	&__top{
		display: flex;
        justify-content: space-between;
		padding-bottom: 35px;
		@media #{$xxs}{
			flex-wrap: wrap;
			gap: 30px;
		}
	}
	&__bottom{
		// border-top: 1px solid var(--bd-border-primary);
		padding: 35px 0 50px;
		display: grid;
 		grid-template-columns: repeat(4,1fr);
		 gap: 50px 0;
		 @media #{$md}{
			grid-template-columns: auto auto auto;
		 }
		 @media #{$sm}{
			grid-template-columns: repeat(2,1fr);
		 }
		 @media #{$xs}{
			grid-template-columns: repeat(1,1fr);
		 }
	}
	&__widget{
		&:first-child{
			@media #{$md}{
				margin-right: 60px;
			}
		}
		&:nth-child(2) {
			margin-left: 55px;
			@media #{$lg}{
				margin-left: 30px;
			}
			@media #{$md}{
				margin-left: 0;
				margin-right: 60px;
			}
			@media #{$xs}{
				margin-left: 0;
			}
		}
		&:nth-child(3) {
			margin-left: 25px;
			@media #{$lg}{
				margin-left: -10px;
			}
			@media #{$sm,$xs}{
				margin-left: 0;
			}
		}
		&:nth-child(4) {
			@media #{$lg}{
				margin-left: -20px;
			}
		}
	}
	&__widget-title{
		margin-bottom: 25px;
		h4{
			font-weight: 500;
		}
	}
	&__links {
		ul {
			// display: grid;
			// grid-template-columns: 1fr;
			li {
				list-style: none;
				&:not(:last-child) {
					margin-bottom: 14px;
				}
				a {
					font-size: 16px;
					position: relative;
					&:hover {
						color: var(--bd-theme-primary);
					}
				}
			}
		}
	}
	&__input{
		position: relative;
		margin: 20px 0 10px;
		input{
			border: 2px solid var(--bd-border-primary);
		}
	}
	&__btn{
		position: absolute;
		top: 0;
		background: var(--bd-theme-primary);
		right: 5px;
		border-radius: 4px;
		top: 50%;
		transform: translateY(-50%);
		color: var(--bd-common-white);
		padding: 11px 18px;
		&:hover{
			background: var(--bd-theme-secondary);
		}
		i{
			font-size: 18px;
		}
	}
	&__area{
		&.is-footer-pad{
			padding-top: 230px;
		}
		&.style-two{
			position: relative;
			.footer{
				&__bottom{
					padding: 0 0 50px;

				}
				&__bg-thumb{
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: -1;
					top: 0;
					&::before{
						position: absolute;
						width: 100%;
						height: 100%;
						content: "";
						background: rgba(0, 0, 0, 0.85);
						top: 0;
						left: 0;
						z-index: 1;
					}
				}
				&__widget{
					&-gallery{
						ul{
							display: grid;
							grid-template-columns: repeat(2, 120px);
							gap: 10px;
							li{
								list-style: none;
								a{
									position: relative;
									display: block;
									&::before{
										width: 100%;
										height: 100%;
										content: "";
										position: absolute;
										border-radius: 4px;
										background: linear-gradient(90deg, rgba(66, 134, 244, 0.60) 0%, rgba(99, 14, 217, 0.60) 100%);
										opacity: 0;
										z-index: 1;
										transition: .3s;
									}
									img{
										border-radius: 4px;
									}
									&:hover{
										&::before{
											opacity: 1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.footer-bg{
			background: rgba(45, 46, 47, .2);
		}
	}
}
