@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 Blog css
/*----------------------------------------*/

// Blog Style 1
.blog {
    &__item {
        &.bg-solid {
            background: var(--bd-bg-secondary);
        }
        padding: 30px 30px 50px 30px;
        border-radius: 8px;
        @media #{$md} {
            padding: 30px 20px 40px 20px;
        }
        @media #{$sm,$xs} {
            padding: 30px 30px 30px 30px;
        }
        @media #{$xxs} {
            padding: 20px 20px 30px 20px;
        }
        &:hover {
            .blog__thumb {
                &.is-hover {
                    img {
                        transform: scale3d(1.07, 1.07, 1.07);
                    }
                }
            }
        }
        &.style-two {
            padding: 30px 30px 40px 30px;
            border-radius: 8px;
            border: 2px solid #232426;
            @media #{$xl}{
                padding: 30px 20px 40px 20px;
            }
            &.bg-solid{
                background:var(--bd-bg-secondary);
                border: 0;
                .blog__content-bottom{
                    &::before{
                        background: rgba(255, 255, 255, 0.05);
                    }
                }
            }
            @media #{$xxs} {
                padding: 20px 20px 30px 20px;
            }
            .blog {
                &__thumb {
                    position: relative;
                    margin-bottom: 20px;
                    overflow: hidden;
                    border-radius: 8px;
                    &::before {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--bd-rgba-5);
                        content: "";
                        border-radius: 8px;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s ease-in-out;
                    }
                    &:hover {
                        &::before {
                            visibility: visible;
                            opacity: 1;
                        }
                        .blog__btn-circle {
                            top: 50%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                &__btn-circle {
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s 0s ease-out;
                }
                &__content-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                }
                &__meta {
                    display: unset;
                    margin: 0;
                    span {
                        font-size: 14px;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
                &__content-bottom {
                    position: relative;
                    padding-top: 20px;
                    &::before {
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        content: "";
                        background: var(--bd-border-tertiary);
                        top: 0;
                    }
                }
                &__author {
                    display: flex;
                    align-items: center;
                    gap: 0 15px;
                    &-thumb {
                        max-width: 64px;
                        img {
                            border-radius: 50%;
                        }
                    }
                    &-designation {
                        display: block;
                        font-size: 14px;
                        color: #858585;
                        @media #{$xs} {
                            font-size: 13px;
                        }
                    }
                    &-title {
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--bd-common-white);
                        line-height: 1.2;

                        @media #{$xs} {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &.style-three {
            background: transparent;
            padding: 0;
            .blog {
                &__thumb {
                    position: relative;
                }
                &__tag {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;
                }
            }
        }
        &.style-four {
            padding: 0;
            .blog {
                &__thumb {
                    position: relative;
                    margin: 0;
                    border-radius: 8px 8px 0 0;
                }
                &__tag {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;
                }
                &__content {
                    padding: 30px 30px 40px 30px;
                    border-radius: 0 0 8px 8px;
                    &.bg-solid {
                        background: var(--bd-bg-secondary);
                    }
                }
            }
        }
        &.style-five {
            padding: 0;
            .blog {
                &__thumb {
                    position: relative;
                    margin: 0;
                    border-radius: 8px 8px 0 0;
                }
                &__tag {
                    position: absolute;
                    left: 30px;
                }
                &__content {
                    padding: 30px 30px 40px 30px;
                    border-radius: 0 0 8px 8px;
                }
                &__title {
                    margin-bottom: 35px;
                }
                &__content {
                    &.bg-solid {
                        background: var(--bd-bg-secondary);
                    }
                }

            }
        }
        &.style-six {
            padding: 0;
            border-radius: 8px;
            border: none;
            position: relative;
            .blog {
                &__thumb {
                    position: relative;
                    margin-bottom: 0;
                    overflow: hidden;
                    border-radius: 8px;
                    border-radius: 8px 8px 0 0;
                    &::before {
                        content: none;
                    }
                }
                &__tag {
                    position: absolute;
                    left: 30px;
                    top: 30px;
                }
                &__content {
                    padding: 30px 30px 30px 30px;
                    border-radius: 0 0 8px 8px;

                    &.bg-solid {
                        background: var(--bd-bg-secondary);
                    }
                }
                &__content-top {
                    margin-top: 20px;
                    @media #{$xxs}{
                        margin-top: 0px;
                    }
                }
                &__title {
                    margin: 0;
                }
                &__author {
                    display: inline-flex;
                    align-items: center;
                    gap: 0 11px;
                    background: var(--bd-bg-quaternary);
                    padding: 5px 20px 5px 5px;
                    border-radius: 35px;
                    position: absolute;
                    bottom: 160px;
                    @media #{$xl,$md}{
                        bottom: 190px;
                    }
                    @media #{$xxs}{
                        display: none;
                    }
                    &-thumb {
                        max-width: 45px;
                        img {
                            border-radius: 50%;
                        }
                    }
                    &-title {
                        font-size: 18px;
                        font-weight: 600;
                        color: var(--bd-common-white);
                        line-height: 1.2;
                        @media #{$xs} {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &.style-seven {
            padding: 0;
            display: grid;
            grid-template-columns: 245px  1fr;
            align-items: center;
            height: 100%;
            @media #{$xl}{
                grid-template-columns: 230px  1fr;
            }
            @media #{$lg}{
                grid-template-columns: 190px  1fr;
            }
            @media #{$lg,$md,$sm,$xs}{
                grid-template-columns:1fr;
            }
            .blog {
                &__thumb {
                    position: relative;
                    margin: 0;
                    border-radius: 8px 0px 0px 8px;
                    height: 100%;
                    @media #{$lg,$md,$sm,$xs}{
                        border-radius: 8px 8px 0px 0px;
                    }
                    img{
                        height: 100%;
                    }
                }
                &__tag {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                }
                &__meta{
                   @media #{$xl}{
                    gap: 10px 15px;
                    flex-wrap: wrap;
                   }
                }
                &__content {
                    padding: 30px 30px 40px 30px;
                    border-radius: 0 8px 8px 0px;
                    @media #{$lg,$md,$sm,$xs}{
                        border-radius: 0px 0px 8px 8px;
                    }
                    &.bg-solid {
                        background: var(--bd-bg-secondary);
                    }
                }
            }
        }
    }
    &__thumb {
        position: relative;
        margin-bottom: 21px;
        overflow: hidden;
        border-radius: 8px;
        &.is-hover {
            img {
                width: 100%;
                transition: all 1.1s cubic-bezier(0, 0, 0.2, 1);
            }
        }
        img {
            width: 100%;
        }
    }
    &__meta {
        display: flex;
        align-items: center;
        gap: 10px 50px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        span {
            i {
                margin-right: 5px;
                color: var(--bd-theme-primary);
            }
        }
        &.style-one {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: var(--bd-theme-primary);
            padding: 12px 18px 18px;
            border-radius: 4.41px;
            text-align: center;
            @media #{$lg,$md,$sm,$xs} {
                padding: 8px 15px;
            }
            .date {
                line-height: 1;
            }
            .month {
                font-size: 16px;
                letter-spacing: 1.6px;
                font-weight: 400;
                display: block;
                @media #{$md,$sm,$xs} {
                    font-size: 14px;
                }
                @media #{$sm,$xs} {
                    font-size: 12px;
                }
            }
        }
    }
    &__content {
        p {
            margin-bottom: 25px;
        }
    }
    &__title {
        margin-bottom: 17px;
        display: inline-block;
        a {
            &:hover {
                color: var(--bd-theme-primary);
            }
        }
    }
    &__tag {
        a {
            font-size: 14px;
            display: inline-block;
            letter-spacing: 1.4px;
            color: var(--bd-common-white);
            padding: 5px 11px 4px;
            background: var(--bd-theme-primary);
            border-radius: 4px;
            font-weight: 500;
            &:hover {
                background: var(--bd-common-white);
                color: var(--bd-common-black);
            }
        }
        &.is-bg-light {
            a {
                background: var(--bd-rgba-1);
                color: var(--bd-theme-primary);
                &:hover {
                    background: var(--bd-theme-primary);
                    color: var(--bd-common-white);
                }
            }
        }
    }
}

