@use '../../utils' as *;

/*----------------------------------------*/
/*  4.1 Main menu css
/*----------------------------------------*/

.main-menu {
    &.is-menu-clr{
        ul{
            li{
                a{
                    color: var(--bd-common-white);
                }
            }
        }
    }
    & ul {
        margin-bottom: 0;
        & li {
            position: relative;
            list-style: none;
            display: inline-block;
            margin-inline-end: 25px;
            @media #{$lg,$xl} {
                margin-inline-end: 30px;
            }
  
            &:last-child {
                margin-inline-end: 0;
            }

            > {
                & a {
                    display: inline-block;
                    color: var(--bd-text-lightest);
                    padding: 36px 0;
                    font-weight: 500;
                    // font-size: 18px;
                    &:before{
                        width: 0;
                        height: 2px;
                        position: absolute;
                        content: "";
                        background: var(--bd-theme-primary);
                        bottom: 35px;
                        transition: .3s;
                        @media #{$xxl,$xl,$lg}{
                            bottom: 30px;
                        }
                    }
                    @media #{$xxl} {
                        padding: 32px 0;
                    }
                    @media #{$lg, $xl} {
                        padding: 30px 0;
                    }
                    &:hover{
                        &:before{
                            width: 100%;
                        }
                    }
                }
            }
  
            &.has-dropdown {
                &>a {
                    position: relative;
                    &::after {
                        // content: '\f107';
                        // @include transform(translateY(1px));
                        // font-size: 15px;
                        // font-family: var(--bd-ff-fontawesome);
                        // font-weight: 400;
                        // margin-inline-start: 5px;
                        // display: inline-block;
                        // @extend %bd-transition-3;
                    }
                }
            }
  
            &.has-mega-menu {
                position: static;
            }

            &.megamenu-wrapper {
				position: static;
			}
  
            /* submenu css start */
            & .submenu {
                position: absolute;
                top: 110%;
                inset-inline-start: 0;
                min-width: 280px;
                background: #0d0d0d;
                z-index: 99;
                visibility: hidden;
                opacity: 0;
                transform-origin: top center;
                padding: 35px 0 6px;
                color: var(--bd-common-white);
                border: 1px solid var(--bd-border-primary);
                @extend %bd-transition-3;
                & li {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    @include transform(translateY(-10px));
                    &.has-dropdown {
                        &>a {
                            &::after {
                                position: absolute;
                                top: 50%;
                                inset-inline-end: 25px;
                                @include transform(translateY(-50%) rotate(-90deg));
                                color: var(--bd-text-1);
                            }
                        }
                    }
  
                    & a {
                        position: relative;
                        z-index: 11;
                        color: var(--bd-text-body);
                        font-size: 16px;
                        padding: 0 25px;
                        padding-inline-start: 30px;
                        padding-bottom: 9px;
                        width: 100%;
                        &::before {
                            position: absolute;
                            content: '';
                            left: 25px;
                            top: 40%;
                            @include transform(translateY(-50%));
                            width: 0px;
                            height: 1px;
                            background-color: var(--bd-theme-primary);
                            @extend %bd-transition-3;
                        }
                    }
  
                    & .submenu {
                        inset-inline-start: 100%;
                        top: 0;
                        visibility: hidden;
                        opacity: 0;
                    }
  
                    &:hover {
                        &>a {
                            color: var(--bd-theme-primary);
                            padding-inline-start: 43px;
                            &::before {
                                width: 12px;
                            }
                            &::after {
                                color: var(--bd-theme-primary);
                            }
                        }
  
                        &>.submenu {
                            @include transform(translateY(1));
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
  
            /* mega menu start */
            & .mega-menu{
                position: absolute;
                top: 105%;
                left: 50%;
                padding: 30px 35px 30px;
                background: var(--bd-bg-primary);
                @include light {
                    background-color: var(--bd-common-white);
                }
                visibility: hidden;
                opacity: 0;
                border: 1px solid var(--bd-border-primary);
                z-index: 99;
                width: 100%;
                transform: translateX(-50%);
                -webkit-transition: all 0.2s 0s ease-out;
                -moz-transition: all 0.2s 0s ease-out;
                -ms-transition: all 0.2s 0s ease-out;
                -o-transition: all 0.2s 0s ease-out;
                transition: all 0.2s 0s ease-out;
                @media #{$lg} {
                    padding: 25px 25px;
                    padding-inline-start: 80px;
                }
                &.mega-menu {
                    &.is-full-width{
                        li {
                            a {
                                &:hover {
                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    &.mega-menu-grid-4 {
                        padding: 30px 35px 30px;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        row-gap: 30px;
                        column-gap: 30px;
                    }
                    &.mega-menu-grid-3 {
                        padding: 30px 35px 30px;
                        display: grid;
                        row-gap: 30px;
                        column-gap: 30px;
                        grid-template-columns: repeat(3, 1fr);
                        width: 950px;
                        margin: 0 auto;
                        justify-content: space-around;
                    }
                }
                
                & li{
                    & .mega-menu-title{
                        font-weight: 500;
                        font-size: 15px;
                        text-transform: uppercase;
                        color: var(--bd-text-lightest);
                        @include light {
                            color: var(--bd-text-body);
                        }
                        cursor: text;
                        padding: 0;
                        display: block;
                        margin-bottom: 15px;
                        border-bottom: 1px solid var(--bd-border-primary);
                        padding-bottom: 5px;
                        &::before{
                            display: none;
                        }
                    }
                    & ul{
                        & li{
                            width: 100%;
                            float: none;
                            margin-bottom: 9px;

                            &:last-child{
                                margin-bottom: 0;
                            }
                            & a{
                                font-weight: 500;
                                color: var(--bd-text-lightest);
                                text-transform: capitalize;
                                @include light {
                                    color: var(--bd-text-body);
                                }
                                padding: 0;
                                position: relative;
                                &::before{
                                    position: absolute;
                                    content: '';
                                    left: 0;
                                    right: auto;
                                    top: 50%;
                                    bottom: auto;
                                    @extend %translateY1_2;
                                    width: 0;
                                    height: 1px;
                                    background-color: var(--bd-theme-primary);
                                    @extend %bd-transition-3;
                                }
                            }     
                            &:hover{
                                & > a{
                                    color: var(--bd-theme-primary);
                                    &::before{
                                        background-color: var(--bd-theme-primary);
                                    }
                                }
                            }                      
                        }
                    }
                    &:hover{
                        & > .mega-menu-title{
                            color: var(--bd-theme-primary);
                            padding-inline-start: 0;
                        }
  
                        & > a{
                            color: var(--bd-theme-primary);
                        }
                    }
                    a {
                        &:hover {
                            padding-inline-start: 18px;
                            &::before{
                                width: 12px;
                            }
                        }
                    }
                }
            }
  
            &:hover {
                &>a {
                    color: var(--bd-theme-primary);
                    &::after {
                        color: var(--bd-theme-primary);
                    }
                }
  
                &>.submenu {
                    visibility: visible;
                    opacity: 1;
                    top: 100%;
                }
  
                & .mega-menu {
                    visibility: visible;
                    opacity: 1;
                    top: 100%;
                    transition-duration: 0.2s;
                }
            }
        }
    }
    &-2{
        & ul{
            & li{
                > a {
                    color: var(--bd-common-white);
                    &::before {
                        background: var(--bd-theme-primary);
                    }
                }
                & .submenu{
                    
                    & li{
                        & a{
                            &:hover {
                                color: var(--bd-theme-primary);
                                &::before {
                                    background: var(--bd-theme-primary);
                                }
                            }
                        }
                        &:hover{
                            & > a{
                                color: var(--bd-theme-primary);
                                &::before{
                                    background-color: var(--bd-theme-primary);
                                }
                            }
                        } 
                        &.has-dropdown{
                            &:hover{
                                & > a{
                                    &::after{
                                        color: var(--bd-theme-primary);
                                    }
                                }
                            }
                        }
                        
                    }
                }
                & .mega-menu{
                    & li{
                        & ul{
                            & li{
                                &:hover{
                                    & > a{
                                        color: var(--bd-theme-primary);   
                                        &::before{
                                            background: var(--bd-theme-primary);
                                        }
                                    }
                                }
                            
                            }
                        }

                        &:hover{
                            & > .mega-menu-title{
                                color: var(--bd-theme-primary);                  
                            }
                        }
                    }
                }

                &:hover{
                    & > a{
                        color: var(--bd-theme-primary);

                        &::after{
                            color: var(--bd-theme-primary);
                        }
                    }
                }
            }
        }
    }
    &-3{
        & ul{
            & li{
                > a {
                    color: #d1d1d1;
                    &::after {
                        color: #d1d1d1;
                    }
                }

                &:hover{
                    & > a{
                        color: var(--bd-common-white);

                        &::after{
                            color: var(--bd-common-white);
                        }
                    }
                }
            }
        }
    }
    &-4{
        & ul{
            & li{
                > a {
                    color: #d1d1d1;
                    &::after {
                        color: #d1d1d1;
                    }
                }
            }
        }
    }
}






// Home menu
.home__menu-item {
    position: relative;
	&:hover {
		.home__menu__buttons {
			transform: scale(1, 1);
			opacity: 1;
			visibility: visible;
		}
		.home__menu-thumb {
			&::before {
				opacity: 1;
			}
		}
	}
}
.home__menu-thumb {
    position: relative;
    padding: 20px 20px 20px;
	border: 1px solid var(--bd-border-primary);
	@include border-radius(6px);
    img {
        width: 100%;
    }
	&::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: rgba(13, 13, 13, 0.7);
        @include light {
            background: rgba(229, 229, 229, 0.7);
        }
        opacity: 0;
        transition: 0.3s;
        left: 0;
        top: 0;
        @include border-radius(6px);
        @media #{$xs,$sm,$md} {
            opacity: 1;
        }
	}
}
.home__menu__buttons {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: scale(1, 0);
	opacity: 0;
	visibility: hidden;
	transform-origin: bottom center;
	transition: 500ms ease;
    @media #{$xs,$sm,$md} {
        transform: scale(1, 1);
        opacity: 1;
        visibility: visible;
    }
	gap: 10px;
	.bd-btn {
        height: 45px;
        font-size: 14px !important;
        padding: 0 30px !important;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        color: var(--bd-common-white) !important;
        width: inherit !important
	}
}
.home__menu-title {
	margin-top: 15px;
	font-size: 18px;
    color: var(--bd-common-white);
}
.home__menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    @media #{$xs,$sm,$md} {
        padding: 10px 0 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}



