@use '../../utils' as *;

/*----------------------------------------*/
/*  7.20 Login css
/*----------------------------------------*/


.login {
	&__wrapper {
		padding: 50px 85px 55px;
		background: var(--bd-bg-secondary);
		border-radius: 8px;

		@media #{$md,$sm} {
			padding: 40px 50px 40px;
		}

		@media #{$xs} {
			padding: 40px 25px 40px;
		}
	}

	&__form {
		.form {
			&__input {
				&-box {
					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}

				&.style-two {
					input {
						padding-left: 45px;
						padding-right: 50px;
					}

					span {
						position: absolute;
						top: 50%;
						left: 22px;
						transform: translateY(-50%);

						i {
							font-weight: 500;
						}
					}
				}

				&-box {
					position: relative;

					.pass-icon {
						position: absolute;
						top: 50%;
						right: 0px;
						transform: translateY(-50%);
						opacity: .4;
						cursor: pointer;
						transition: .3s;

						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&__top {
		.login {
			&__title {
				margin-bottom: 5px;
			}
		}
	}

	&__btn {
		.bd-btn {
			border-radius: 8px;
		}

		margin-bottom: 30px;
	}

	&__forgot {
		a {
			&:hover {
				color: var(--bd-theme-primary);
			}
		}
	}

	&__social {
		&-header {
			font-weight: 500;
			letter-spacing: -0.02em;
			position: relative;
			display: inline-block;
			text-align: center;
			padding: 0 10px;
			margin-bottom: 25px;

			&::after,
			&::before {
				position: absolute;
				content: '';
				left: 100%;
				top: 10px;
				width: 30px;
				height: 1px;
				background-color: rgba(255, 255, 255, 0.3);
			}

			&::before {
				left: auto;
				right: 100%;
			}
		}

		&-icon {
			img {
				max-width: 20px;
			}
		}

		&-item {
			margin-bottom: 20px;

			a {
				display: flex;
				gap: 5px;
				padding: 11px 25px;
				font-weight: 500;
				font-size: 14px;
				border: 1px solid var(--bd-border-primary);
				border-radius: 8px;

				@media #{$xs} {
					width: 100%;
					justify-content: center;

					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}

				&:not(:last-child) {
					margin-right: 5px;

					@media #{$xs} {
						margin-right: 0;
					}
				}

				.login-social-icon {
					svg {
						transform: translateY(-2px);
					}
				}

				&:hover {
					border-color: var(--bd-theme-primary);
				}
			}
		}
	}

	&__register {
		&-now {
			text-align: center;

			P {
				a {
					color: var(--bd-theme-primary);
					font-weight: 500;

					&:hover {
						color: var(--bd-theme-secondary);
					}
				}
			}
		}
	}
}

//UPDATE
.login-input-eye {
	position: absolute;
	top: 50%;
	right: 22px;
	@include transform(translateY(calc(-50% - 3px)));

	@include rtl {
		right: auto;
		left: 22px;
	}

	&:hover {
		cursor: pointer;
	}
}

.login__form {
	.form__input-box p {
		color: red;
		font-size: 10px;
		position: absolute;
		top: 55px;
	}
}